Version 2008.06.18 
'ACCESS SPECIFICATIONS =========================================================
'Access specification name,default assignment
	Default,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	2048,100,67,100,0,1,0,0
'Access specification name,default assignment
	All in one,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	512,5,100,0,0,1,0,0
	512,5,75,0,0,1,0,0
	512,5,50,0,0,1,0,0
	512,5,25,0,0,1,0,0
	512,5,0,0,0,1,0,0
	4096,5,100,0,0,1,0,0
	4096,5,75,0,0,1,0,0
	4096,5,50,0,0,1,0,0
	4096,5,25,0,0,1,0,0
	4096,5,0,0,0,1,0,0
	16384,5,100,0,0,1,0,0
	16384,5,75,0,0,1,0,0
	16384,5,50,0,0,1,0,0
	16384,5,25,0,0,1,0,0
	16384,5,0,0,0,1,0,0
	32768,5,100,0,0,1,0,0
	32768,5,75,0,0,1,0,0
	32768,5,50,0,0,1,0,0
	32768,5,25,0,0,1,0,0
	32768,5,0,0,0,1,0,0
'Access specification name,default assignment
	Database pattern (Intel/StorageReview.com),NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	8192,100,67,100,0,1,0,0
'Access specification name,default assignment
	Fileserver pattern (Intel),NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	512,10,80,100,0,1,0,0
	1024,5,80,100,0,1,0,0
	2048,5,80,100,0,1,0,0
	4096,60,80,100,0,1,0,0
	8192,2,80,100,0,1,0,0
	16384,4,80,100,0,1,0,0
	32768,4,80,100,0,1,0,0
	65536,10,80,100,0,1,0,0
'Access specification name,default assignment
	Workstation pattern (StorageReview.com),NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	8192,100,80,80,0,1,0,0
'Access specification name,default assignment
	Webserver pattern (unknown),NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	512,22,100,100,0,1,0,0
	1024,15,100,100,0,1,0,0
	2048,8,100,100,0,1,0,0
	4096,23,100,100,0,1,0,0
	8192,15,100,100,0,1,0,0
	16384,2,100,100,0,1,0,0
	32768,6,100,100,0,1,0,0
	66560,7,100,100,0,1,0,0
	131072,1,100,100,0,1,0,0
	524288,1,100,100,0,1,0,0
'Access specification name,default assignment
	Decision Support System (DSS DB),NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	1048576,100,100,100,0,1,0,0
'Access specification name,default assignment
	Media streaming,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	65536,100,98,0,0,1,0,0
'Access specification name,default assignment
	SQL Server Log,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	65536,100,0,0,0,1,0,0
'Access specification name,default assignment
	Webserver Log,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	8192,100,0,0,0,1,0,0
'Access specification name,default assignment
	Video on demand,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	524288,100,100,100,0,1,0,0
'Access specification name,default assignment
	Exchange server,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	4096,100,67,100,0,1,0,0
'Access specification name,default assignment
	OS Paging,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	65536,100,90,0,0,1,0,0
'END access specifications
Version 2008.06.18 
